[Unit]
Description=Go Server Service

[Service]
Type=simple
User=root
ExecStart=/bin/bash /home/distro/Go/expo-build-server/buildHandler
Restart=on-failure
RestartSec=5s
Environment=PORT=8080
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
