# /etc/systemd/system/go-server.service
[Unit]
Description=Go Server Service
After=network.target

[Service]
Type=simple
User=distro
Group=distro
WorkingDirectory=/home/distro/Go/expo-build-service
ExecStart=/home/distro/Go/expo-build-service/buildHandler
Restart=on-failure
RestartSec=5s
Environment=PORT=8080
Environment=AUTH_TOKEN=your-secret-token  # Add this line

[Install]
WantedBy=multi-user.target
