[Unit]
Description=Go Server Service
After=network.target

[Service]
Type=simple
User=youruser
Group=yourgroup
WorkingDirectory=~/Go/expo-build-server
ExecStart=~/Go/expo-build-server/buildHandler
Restart=on-failure
RestartSec=5s
Environment=PORT=8080

[Install]
WantedBy=multi-user.target
